@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1 class="mb-4">Walker Profile</h1>

  <section class="container">
    <img
      style="width:100px;float:left;margin-right:20px"
      src="@Model.Walker.ImageUrl"
    />
    <div>
      <label class="font-weight-bold">Name:</label>
      <span>@Model.Walker.Name</span>
    </div>
    <div>
      <label class="font-weight-bold">Neighborhood:</label>
      <span>@Model.Walker.Neighborhood.Name</span>
    </div>
  </section>

  
  <div class="row">
    <section class="col-8 container mt-5">
      <h2 class="text-left">Recent Walks</h2>

      <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Dog
                </th>
                <th>
                    Duration
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Walks) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dog.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalWalkTime)
                    </td>
                </tr>
            }
        </tbody>
      </table>
    </section>

    <section class="col-lg-4 col-md-8 container mt-5">
      <h2>Total Walk Time:</h2>
      <h2>@Model.TotalWalkTIme</h2>
    </section>
  </div>

</div>
